*{
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    height: 100%;
}

body, header, main, footer {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}
header{
    color: white;
    background-color: rgb(55,54, 54);
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
}
main {
    min-height: 200px;
}
footer{
    color: white;
    background-color: rgb(55,54, 54);
}
